main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;

  @media screen and (min-width: $md) {
    background-image: url("/assets/background.svg");
  }

  @media screen and (max-width: $md) {
    background: #fafafa;
  }

  & > #main {
      height: calc(100vh - #{$navbar-height});

    @media screen and (max-width: $md) {
      height: 100%;
    }

    
    @media (max-height: 600px) and (min-width: $md) {
      height: 100%;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > div {
      // form
      &:first-child {
        margin-top: auto;
        margin-bottom: auto;

        @media screen and (max-height: 600px) {
          padding: 4rem 0;
        }

        @media screen and (max-width: $md) {
          align-items: center;
          padding: 2rem 0;

          & > div {
              &:first-child {
                  margin: auto;
              }
          }
        }
      }

      // referral bottom
      &:last-child {
        & > div {
          display: flex;
          align-items: center;
          height: 8vh; // +- height of opening in bottom
          font-size: 0.8rem;
          
          // making sure it doesn't overlap over footer
          @media screen and (max-height: 600px) and (min-width: $md) {
            padding: 2rem 0;
          }

          @media screen and (max-width: $md) {
            height: 100%;
            flex-direction: column;
            margin-bottom: 2rem;
          }

          p {
            color: $ML_LightGray;
            margin-bottom: 0;
            margin-right: 1.5rem;

            @media screen and (max-width: $md) {
              margin-right: 0;
              margin-bottom: 1rem;
            }
          }

          button {
            @extend %default-button;
            padding: 0.25rem 0.5rem;
            background-color: white;
            border: 1px solid $ML_LightGray;
            color: $ML_DarkGray;

            &:hover {
              background-color: $ML_LightBlue;
            }
          }
        }
      }

      .featured {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media screen and (max-width: $sm) {
          margin-top: 2rem;
        }

        img {
          width: 200px;
          position: relative;
          z-index: 2;
        }
        &:before,
        &:after {
          content: "";
          width: 70%;
          display: block;
          position: absolute;
          margin: 0 auto;
          right: 0;
          left: 0;
          border-radius: 30px;
          -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);

          @media screen and (max-width: $md) {
            content: none;
          }
        }
        &:before {
          @include gradient($ML_DarkBlue, rgba($ML_DarkBlue, 0.9), "vertical");
          height: 75%;
          bottom: 40px;
        }

        &:after {
          height: 50px;
          bottom: -10px;
          z-index: 2;
          background: $ML_BackgroundWhite;
        }
      }
    }

    form {
      input {
        @extend %default-input;
        width: 100%;
      }

      button {
        @extend %default-button;
        width: 100%;
      }

      p {
          margin-top: .5rem;
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: $sm) {
    p, h1, h2 {
        text-align: center;
    }
  }