$ML_LightGreen: #21C16C;
$ML_DarkGreen: #00A154;
$ML_LightBlue: #E6EFFB;
$ML_DarkBlue: #2D8CFF;
$ML_LightGray: #7F8C8D;
$ML_DarkGray: #292C31;

$ML_DarkText: #62656a;

$ML_BorderGray: #eaedf1;
$ML_BackgroundWhite:#FAFAFA;