<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 footer-copy">
                <ul>
                    <li>2010 - 2019 © MailerLite. All rights reserved.</li>
                    <li><a href="/">Terms of Service</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                    <li><a href="/">Brand Assets</a></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-4 socials">
                <a href="https://www.facebook.com/mailerlite/" target="__blank" aria-label="Facebook"><span class="align-bottom facebook"></span></a>
                <a href="https://www.youtube.com/channel/UCRWH1lQlbnqCrrYTfacklIQ" target="__blank"aria-label="YouTube"><span class="align-bottom youtube"></span></a>
                <a href="https://twitter.com/mailerlite" target="__blank" aria-label="Twitter"><span class="align-bottom twitter"></span></a>
                <a href="https://www.instagram.com/mailerlite/" target="__blank" aria-label="Instagram"><span class="align-bottom instagram"></span></a>
                <a href="https://www.linkedin.com/company/mailerlite-international/" target="__blank" aria-label="LinkedIn"><span class="align-bottom linkedin"></span></a>
            </div>
        </div>
    </div>
</footer>