<div class="container" id="main">
    <div class="row">
        <div class="col-md-6">
            <h1>Sharing is caring.</h1>
            <p>
                We want the best for you - subscribe to our newsletter for <b>tips, tricks & updates</b> about email marketing, business, remote, features and so much more.
            </p>
            <p><b>Join over 200,000 people who get the weekly news in their inbox.</b></p>

            <form>
                <input type="email" placeholder="Enter your email address">
                <button disabled type="submit">Subscribe</button>
                <p>We'll never share your email address and you can opt out at any time, we promise.</p>
            </form>
        </div>

        <div class="col-md-6">
            <div class="featured">
            <img src="./assets/newsletter.gif" alt="newsletter screenshot">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>P. S. Do you know someone who could use MailerLite? Refer a friend and save!</p>
            <button>Get credit for sharing the love</button>
        </div>
    </div>
</div>