<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="https://use.typekit.net/mgq3yvt.css">
    <meta name="description" content="Email Marketing &amp; Automation made easy for Small Businesses, Professional Bloggers and Authors. Sign up and start email marketing with free plan and all features included (signup forms and landing pages too), unlimited emails &amp; 24/7 customer support. We make all features easy to use - check it out!">
    <meta property="og:title" content="MailerLite newsletter subscription">
    <meta property="og:description" content="Subscribe to the weekly MailerLite newsletter for tips, tricks & updates about email marketing, business, remote, features and so much more.">
    <meta property="og:image" content="https://www.mailerlite.com/assets/SEO/seo-homepage.jpg">
    <meta property="og:image:alt" content="Email Marketing Software, Automation and Service">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.mailerlite.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MailerLite">
    <meta name="twitter:image" content="https://www.mailerlite.com/assets/SEO/seo-homepage.jpg">
    <meta name="twitter:description" content="Sharing is caring! Subscribe weekly to the MailerLite newsletter for tips, tricks & updates about email marketing, business, remote, features and so much more.">
    
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon-16x16.png">
</head>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
<body>
    {{> partials/header }}

    <main>
        {{> partials/main }}         
    </main>

    {{> partials/footer }}
</body>
</html>